<!--        Recipe List Item-->
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <!--              Content Title-->
    <h2 class="pull-left">Contacts</h2>
    <button class="btn btn-success panel-info pull-right" routerLink="new" type="button">New Contact</button>
  </div>

  <!--        Recipe List Item-->
  <div class="panel-body">

    <cms-contact-item
      *ngFor="let contact of contactList"
      [nextContact]="contact"
      dnd-draggable
      [dragEnabled]="true"
      [dragData]="contact"
      [dropZones]="['contactGroup']"
    ></cms-contact-item>
    <!--    <cms-contact-item *ngFor="let contact of contactList"-->
    <!--                      [nextContact]="contact"-->
    <!--                      (click)="onSelected(this.contact)"></cms-contact-item>-->

  </div>
</div>

