<!--            List link-->
<a class="list-group-item clearfix" href="#" [routerLink]="nextContact.id" routerLinkActive="active">
  <!--            List Content-->
  <div class="pull-left">
    <!--              Content Title-->
    <h4 class="list-group-item-heading">{{ nextContact.name }}</h4>
  </div>
  <span class="pull-right" *ngIf="nextContact?.imageUrl != ' '">
              <img
                [alt]="nextContact.name"
                [src]="nextContact.imageUrl"
                class="img-thumbnail img-responsive" style="max-height:3.5em">
              </span>
</a>
