<!--            List link-->
<a [routerLink]="nextContact.id" class="list-group-item clearfix" href="#" routerLinkActive="active">
  <!--            List Content-->
  <div class="pull-left">
    <!--              Content Title-->
    <h4 class="list-group-item-heading">{{ nextContact.name }}</h4>
  </div>
  <span *ngIf="nextContact?.imageUrl != ' '" class="pull-right">
              <img
                [alt]="nextContact.name"
                [src]="nextContact.imageUrl"
                class="img-thumbnail img-responsive" style="max-height:3.5em">
              </span>
</a>
