<div class="panel panel-default">
  <div class="panel-heading clearfix">
  <h2 class="panel-title"></h2>
  <span class="panel-info clearfix">
              <img
                [alt]=""
                [src]=""
                class="img-thumbnail img-responsive" style="max-height:5em">
              </span>
    <button class="btn btn-primary pull-right panel-info" type="button">Clear</button>
    <button class="btn btn-danger pull-right panel-info" type="button">Delete</button>
    </div>
  <div class="panel-body">
<h4 class="panel-info">Email: </h4>
<h4 class="panel-info">Phone: </h4>
  </div>
</div>
