<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="">{{nextContactInfo?.name}}</h3>
    <span class="panel-info clearfix">
              <img
                *ngIf="nextContactInfo?.imageUrl != ' '"
                [alt]="nextContactInfo?.name"
                [src]="nextContactInfo?.imageUrl"
                class="img-thumbnail img-responsive" style="max-height:8em">
              </span>
    <button class="btn btn-primary pull-right panel-info" routerLink="edit" type="button">Edit</button>
    <button (click)="onDeleteContact()" class="btn btn-danger pull-right panel-info" type="button">Delete</button>
  </div>
  <div class="panel-body">
    <h4 class="panel-info">Email: {{nextContactInfo?.imageUrl}} </h4>
    <h4 class="panel-info">Phone: {{nextContactInfo?.phone}} </h4>
    <div class="panel-group" *ngIf="nextContactInfo?.group">
      <h4 class="panel-info">Contacts in Team:</h4>
      <div *ngFor="let groupContact of nextContactInfo.group">
        <cms-contact-item [nextContact]="groupContact"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
