<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default pad-left-right">
      <div class="row">
        <span class="title pull-left pad-left-right">Messages</span>
      </div>
    </div>
    <div class="panel-body pad-left-right">
      <div class="row">
        <div class="col-xs-12">
          <!--          Loop through the message items, and display them-->
          <cms-message-item *ngFor="let message of messageList" [nextMessage]="message"></cms-message-item>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <cms-message-edit (msgCreated)="onAddMessage($event)"></cms-message-edit>
    </div>
  </div>
</div>
