<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WeLearn CMS</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--        RouterLink is the actual link element we want pressed for traveling
                    RouterLinkActive allows the addition of a class to alter it's active state.-->
        <li routerLinkActive="active"><a routerLink="/documents">Documents</a></li>
        <li routerLinkActive="active"><a routerLink="/messages">Messages</a></li>
        <li routerLinkActive="active"><a routerLink="/contacts">Contacts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" cmsDropdownMenu>
        <li class="dropdown-toggle" cmsDropdownMenu role="button"><a href="#">User <span class="caret"></span></a>
          <ul class="dropdown-menu clearfix list-group">
            <li><a href="#">Login</a></li>
            <li><a href="#">Other</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
